@import "tailwindcss";
@import "@nuxt/ui";


@theme static {
  /* Primary accent colour #E1007A */
  --color-magenta-50: #D786B3;
  --color-magenta-100: #E1007A;
  --color-magenta-200: #E1007A;
  --color-magenta-300: #E1007A;
  --color-magenta-400: #E1007A;
  --color-magenta-500: #E1007A;
  --color-magenta-600: #E1007A;
  --color-magenta-700: #E1007A;
  --color-magenta-800: #E1007A;
  --color-magenta-900: #E1007A;
  --color-magenta-950: #E1007A;

  /* Lintek Black #000000 */
  --color-lintekblack-50: #ffffff;
  --color-lintekblack-100: #f2f2f2;
  --color-lintekblack-200: #d9d9d9;
  --color-lintekblack-300: #bfbfbf;
  --color-lintekblack-400: #a6a6a6;
  --color-lintekblack-500: #8c8c8c;
  --color-lintekblack-600: #737373;
  --color-lintekblack-700: #595959;
  --color-lintekblack-800: #404040;
  --color-lintekblack-900: #000000;
  --color-lintekblack-950: #000000;
}

/* Custom typography for article content */
@plugin "@tailwindcss/typography";

.dark {
  --ui-text-dimmed: var(--ui-color-neutral-500);
  --ui-text-muted: var(--ui-color-neutral-400);
  --ui-text-toned: var(--ui-color-neutral-300);
  --ui-text: var(--ui-color-neutral-200);
  --ui-text-highlighted: white;
  --ui-text-inverted: var(--ui-color-neutral-900);
}

article a {
  @apply underline text-magenta-200 hover:text-magenta-200/50;
}